<!-- {% extends 'base.html'%}

{% block content %}

<!-- <h1>Booking Page</h1> 
 
<h1>Create Todo</h1>
<div class="row">
    <div class="col-sm-6 offset-3">
    <form action="" method="post">
        {% csrf_token %}

        <div class="form-group">
            <label>Title</label>
            <input type="text" name="title" id="title1" class="form-control">
        </div>

        <div class="form-group">
            <label for="">description</label>
            <textarea name="des"  id="des" cols="30" rows="10" class="form-control"></textarea>
        </div>

        <div class="form-group">
            <label>Rating</label>
            <input type="number" name="rating" id="rating" class="form-control">
        </div>

        <div class="form-group">
            <label>Status</label>
            <input type="checkbox" name="Status" id="Status" >
        </div>

        <div class="form-group">
            <button class="btn btn-primary">Button</button>
        </div>
    </form>
</div>
   
{% endblock %} -->