<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- {{ Name }}<br>
    {{ Age }}<br>
    {{ Address }}<br>
    {{ Product }}<br>
    {{ Gender }}<br>
    {{ Phone }}<br>

    {% for i in product %}
    <li>{{i}}</li>
    {%endfor %} -->
    
    <h1>
        {% if gender == 0 %}
            <h1> male </h1>
        {% elif gender == 1 %}
            <h1> female </h1>
        {% else %}
           others
        {% endif %}
    </h1>
        
</body>
</html>