{% extends 'base.html' %}

{% block content %}

<h1 class="title">Our Doctors</h1>
<div class="container text-center" style="background-color: gray; display:flex; flex-direction:row; height:300px">
    {% for i in doctors %}

<div class="card" style="width: 18rem; text-align: center">
    <img src="{{ i.doc_image.url }}" class="card-img-top" alt="..." height="300px">
    <div class="card-body">
        <p class="card-text">{{ i.doc_name }}</p>
        <h6>{{ i.doc_spec }}</h6>
        <!-- <h5>{{ i.dep_name }} Department</h5> -->
    </div>
</div>
{% endfor %}
</div>

{% endblock %}